body {
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
@media(max-width: 768px) {
    body {
        background-image: url(../img/bg2.png);
    }
}